name: benchmark
on:
  workflow_dispatch:
    inputs:
      sha:
        type: string
        required: true
        description: "The commit SHA to run the benchmarks against."
  push:
    branches: [main]

jobs:
  benchmark:
    uses: vapor/ci/.github/workflows/run-benchmark.yml@main
    with:
      sha: ${{ inputs.sha }}
    secrets: inherit